
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Nunito&display=swap');


.ant-layout-sider {
  min-height: 100vh;
}
.logo{
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
}
#components-layout-demo-responsive .logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
}

.site-layout-sub-header-background {
  height: 68px !important;
  background: #fff !important;
}

.site-layout-background {
  background: #fff;
}

.antd-breadcrumb{
  margin: 7px 0 -17px 24px!important; 
}

.main-wrapper{

  /* padding: 50px 50px; */

}